.main {
}
.storyText {
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-right: 35px;
}
.item2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.rightFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item3 {
    margin-right: 35px;
}
.item4 {
    cursor: pointer;
}
.storyArea {
    margin-top: 20px;
}
.textStoryArea {
  resize: none;
  /* border: 0 none; */
  width: 100%;
  /* outline: none; */
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: 50vh;
  /* overflow: scroll; */
  min-height: 100%;
  padding: 20px;
}
.item4:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}