.main {
}
.title {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
}
.header {
  margin-top: 60px;
}
.box {
}
.quest {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
}
.selectBox {
  margin-top: 30px;
  margin-bottom: 80px;
}
.yesBox {
  margin-bottom: 20px;
}
.noBox {
}
.nextButton {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}
