.main{}
.title{
    font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;

color: #FFFFFF;
}
.title a{
color: #FFFFFF;
}
.readNow{
    margin-top: 100px;
}
.readButton{
    width: 80%;
height: 65px;
padding-left: 40px;
background: #1A4ED6;
border-radius: 20px;
border-color: transparent;
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 41px;
text-align: left;
color: #FFFFFF;
}