.control{
    margin-top: 20px;
display: flex;
justify-content: space-between;
}
.micButton{

}
.nextButton{

}
.exitDiv{
    position: absolute;
    color: white;
    right: 18%;
    cursor: pointer;
    transition: 0.2s all;
}
@media only screen and (max-width: 650px) {
    .exitDiv{
      right: 15%;
  }
  }