.container-90{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-85{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.container-80{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.container-70{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.container-50{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.App{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #103753;
  min-height: calc(100vh - 100px);
}